@model CharacterClassListViewModel

@{
    ViewData["Title"] = "Классы";
}

<h1>Классы</h1>

<p>
    <a asp-action="Create">Создать новый класс</a>
</p>

<form asp-controller="CharacterClasses" asp-action="Index" method="get">
    <p>
        <input type="text" name="searchString" placeholder="Поиск по названию..."/>
        <input type="submit" value="Поиск" />
        <button type="submit" asp-action="Index">Сбросить</button>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Описание
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Classes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>